extends layout

block content
    h1= Jumbotron

    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') PayPal Nimbus
        
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1 PayPal Nimbus Diagnostics
        p
          | This is the dashboard for PayPal Nimbus Diagnostics. Data was gathered from a number of devices sharing usage of the PayPal Nimbus Applicaiton in Australia.
        p
          a.btn.btn-primary.btn-lg(role='button') Learn more &raquo;

    .container-fluid
      // START - first row
      .row
        .col-sm-12
          .chart-wrapper
            .chart-title Number of Payment Transactions
            .chart-stage
              #time-chart

      .row
        .col-sm-6
          .chart-wrapper
            .chart-title Phone Models Distribution
            .chart-stage
              #phone-model-pie-chart

        .col-sm-6
          .chart-wrapper
            .chart-title Payment Status Distributions
            .chart-stage
              #payment-status-pie-chart


      // END - first row

      .col-sm-6
        .chart-wrapper
          .chart-title Average Payment Turnaround Time Per Device
          .chart-stage
            #average-turnaround-row-chart


    script(src='/dc-js/js/crossfilter.js')
    script(src='/dc-js/js/d3.js')
    script(src='/dc-js/js/dc.js')
    script(src='/queue-async/queue.js')

    script(src='/keen-js/keen.js')
    script(src='/reductio/reductio.js')

    script(src='/javascripts/charts.js')


    // /container